.app-wrapper {
  /* grid - разделяет элементы по колонам и рядам.  */
  display: grid;
  /*  areas - расставляет обьекты согласно их псевдонимам */
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 10fr;
  grid-gap: 10px;

  max-width: 1200px;
  margin: 0 auto;
}

.app-wrapper-content {
  grid-area: content;
  background-color: #bababb2e;
  border-radius: 20px;
}
